.navbar{
    display: flex;
    margin-top: 5%;
    margin-bottom: 8%;
    font-size: 22px;
}
.navbar ul{
    display: flex;
    font-size: 20px;
    cursor: pointer;
    padding: 6px 8px 6px 8px;
    border-radius: 10px;
    margin-left: 50%;
    color: rgb(255, 255, 255);
    margin-top:3% ;
}
.list li {
    margin-left: 30%;
    list-style: none;
    gap: 30%;
    transition: color 0.3s ease-in-out;
}
.navbar ul li:hover{
    color: rgb(21, 168, 87);
}
.logo{
    height: 10%;
    width: 10%;
    margin-left: 5%;
}
.navbar img :hover{
    background-color: none;
}
.introduction p{
    color: rgb(255, 255, 255);
    font-size: 70px;
}
h5{
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-top: 1%;
}
.introduction{
    margin-left: 6%;
}
h3{
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-bottom: 15%;
}
.nav {
    background-color: rgba(0, 8, 0, 0.699);
    background-image: url(/public/images/tina.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    background-blend-mode: multiply;
    margin-top: -5%;
    margin-bottom: 6%;
  }